.gradle/
/local.properties
/.idea/
/.gradle/
/.cxx/
/build/
/**/build/
.gradle/
gradle-wrapper.jar
.gradle
/.gradle
**/local.properties
/.idea
.DS_Store
/*.iml
/.externalNativeBuild
/captures
/*.keystore
/*.jks
/*.log
/.vscode/
/.navigation/
/.android/
